option_settings:
    aws:elasticbeanstalk:application:environment:
        "DJANGO_SECRET_KEY": "sa+_6%tjyd5unhlhntn^m!esg#4%os"
        "DATABASE_NAME": "temp"
        "DATABASE_USER": "admin"
        "DATABASE_PASSWORD": "gkdlqj89!"
        "AWS_ACCESS_KEY_ID": "AKIATHGGFBAUM2QLA5WU"
        "AWS_SECRET_ACCESS_KEY": "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"
    aws:elasticbeanstalk:container:python: 
        WSGIPath: unisite.wsgi:application




        